<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84694052703-ngkf702lqdjcin85ema7pq1q51p919m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84694052703-ngkf702lqdjcin85ema7pq1q51p919m4</string>
	<key>API_KEY</key>
	<string>AIzaSyBFoyPiUFvOhIKRiaLL3oYTpCtfgHRCvZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>84694052703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithchris.CustomLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>parkmingyu-26e31</string>
	<key>STORAGE_BUCKET</key>
	<string>parkmingyu-26e31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84694052703:ios:f5563f4dd37f356078d0ea</string>
</dict>
</plist>